<h1>Add a New User</h1>
<form id='new_user'>
	<input placeholder='First Name' name='user[first_name]' required='true' />
	<input placeholder='Last Name' name='user[last_name]' required='true' />
	<input placeholder='Phone Number' name='user[phone_number]' required='true' />
	<button class='btn btn-primary' type='submit'>Submit</button>
</form>